
<% if f.object.errors.any? %>
  <ul class="list-group text-danger mb-3">
    <% f.object.errors.full_messages.each do |message| %>
      <li class="list-group-item"><%= message %></li>
    <% end %>
  </ul>
<% end %>

